*.tar
# ----- SPECIFIC FOLDERS -----
_a_progs/_a4yy_env/
_a_progs/_aAlpha____2ms_invoices/


__pycache__/
*.pyc

*.wav
*.mp4
*.aiff
*.DS_Store
_a_progs/_a2ms_env/_2_PROG_wav_CLEAN_au/ms_2_PODCASTS_CAI/_pod_1_recording/vocals.wav
*.wav
*.mp4
*.aiff
*.pkl
*.DS_Store
*.ipynb_checkpoints/
