git+https://github.com/aubio/aubio.git
backports-datetime-fromisoformat==2.0.1

backports-datetime-fromisoformat==2.0.1
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
ffmpeg==1.4
ffmpeg-python==0.2.0
filetype==1.2.0
fpdf2==2.8.1
future==0.18.3
ipython-genutils==0.2.0
jsonpickle==3.3.0
llvmlite==0.41.1
lxml==5.3.0
m3u8==4.0.0
MIDIUtil==1.2.1
more-itertools==10.5.0
munkres==1.1.4
music21==8.3.0
noisereduce==3.0.2
pandas==1.5.3
Pillow==9.5.0
proglog==0.1.9
PyAudio==0.2.14
pycairo==1.26.1
pyloudnorm==0.1.1
PyPDF2==3.0.1
pytesseract==0.3.13
python-docx==1.1.2
PyYAML==6.0.1
sounddevice==0.5.0
tinytag==1.10.1
toml==0.10.2
typing_extensions==4.12.2
wavio==0.0.8
webcolors==24.8.0
