chardet==5.2.0
contourpy==1.3.1
cycler==0.12.1
fonttools==4.56.0
frozendict==2.4.6
kiwisolver==1.4.8
matplotlib==3.10.1
multitasking==0.0.11
numpy==2.2.3
pandas==2.2.3
peewee==3.17.9
pillow==11.1.0
pyparsing==3.2.1
reportlab==4.3.1
setuptools==75.8.2
tzdata==2025.1
wheel==0.45.1
yfinance==0.2.54
zstandard==0.23.0
